@{
    ViewData["Title"] = "Strona główna";
}

<div class="main-menu-container">
    <h1 class="main-title">Witaj w ClashZone!</h1>

    <div class="menu-grid">
        <a href="/Tournaments/Index" class="menu-card">
            <img src="~/images/Tournament-logo.png" alt="Turnieje" class="menu-icon" />
            <div class="menu-label">Turnieje</div>
        </a>

        <a href="/League/Index" class="menu-card">
            <img src="~/images/League-logo.png" alt="Liga" class="menu-icon" />
            <div class="menu-label">Liga</div>
        </a>
    </div>
</div>
