@model IEnumerable<DataAccess.Models.Tournament>

@{
    ViewData["Title"] = "Nadchodzące turnieje";
}

<h2>Nadchodzące turnieje</h2>

@if (!Model.Any())
{
    <p>Brak nadchodzących turniejów.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Data rozpoczęcia</th>
                <th>Opis</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tournament in Model)
            {
                <tr>
                    <td>@tournament.Name</td>
                    <td>@tournament.StartDate.?ToString("dd.MM.yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}
